<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Schueler-Verwaltung-Vue</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <table ref="table" style="width: 50%;">
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Klasse</th>
                <th>Zweig</th>
                <th></th>
            </tr>
            <tr v-for="schueler in schuelers">
                <td>{{ schueler.firstname }}</td>
                <td>{{ schueler.lastname }}</td>
                <td>{{ schueler.clazz }}</td>
                <td>{{ schueler.branch }}</td>
                <td><button type="button" v-on:click="deleteSchueler(schueler)">Löschen</button></td>
            </tr>
        </table>

        <div id="form-group">
            <p>Vorname</p><input v-model="firstname">
            <p>Nachname</p><input v-model="lastname">
            <p>Klasse</p><input v-model="clazz">
            <p>Zweig</p><input v-model="branch">
            <button type="button" v-on:click="addSchueler">Hinzufügen</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./index.js"></script>
</body>

</html>